# Symfony & PHP
/var/
/vendor/
/.env.local
.env.test.local
.env.*.local
/phpunit.result.cache
/.phpunit.result.cache
.composer

# Logs
/log/
/*.log
*.log

# Cache
/var/cache/
/var/log/

# Test coverage
/coverage/
/clover.xml

# PHP-CS-Fixer
.php-cs-fixer.cache

# IDEs & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Composer
composer.lock

# Docker / Containers
.docker/
docker-compose.override.yml
