<phpunit bootstrap="config/bootstrap.php">
    <testsuites>
        <testsuite name="Vehicle Test Suite">
            <directory>tests/Unit/Vehicle</directory>
            <exclude>
                <file>tests/Unit/Vehicle/Application/UseCase/BaseVehicleUseCaseTest.php</file>
            </exclude>
        </testsuite>
    </testsuites>
</phpunit>
